@import "normalize.css";


@font-face {
    font-family: 'TheBoldFont';
    src: url('/fonts/TheBoldFont.eot?#iefix') format('embedded-opentype'),  url('/fonts/TheBoldFont.woff') format('woff'), url('/fonts/TheBoldFont.ttf')  format('truetype'), url('/fonts/TheBoldFont.svg#TheBoldFont') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Cabin-Bold';
    src: url('/fonts/Cabin-Bold.eot?#iefix') format('embedded-opentype'),  url('/fonts/Cabin-Bold.woff') format('woff'), url('/fonts/Cabin-Bold.ttf')  format('truetype'), url('C/fonts/abin-Bold.svg#Cabin-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  

#headerpic {

    padding: 40px;
    background-image: url('/images/header-image.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.mainpic{   
    color: white;
    font-size: 2rem;
    font-family:'TheBoldFont' ;    
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
}

#gridandReserve {
    display: flex;
}
#gridpart {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 4fr));
    grid-template-rows: 1fr 1fr;
    background-color: black;
    padding: 1rem;
    
}
.articles {
    display: flex;
    grid-template-columns: repeat(auto-fill, minmax(300px, 4fr));
        padding: 0px;
    flex-direction: column;
    border: 1px solid white;
    color: aliceblue;
    align-items: center;
    font-family: 'Cabin-Bold';
    flex-grow: 1;
    flex-shrink: 1;
    background-repeat: no-repeat;
    background-position: top;    
    margin: 1rem;
    animation: 3s ease-in-out 1s forwards;
    animation-timing-function: ease-in-out;
}
.picHotel {
    margin-top: 1rem;
    margin-bottom: 2rem;
    
}


.articles:hover {
    animation-name: move;
    cursor: pointer;
    
}

.sectionText {
    margin: 0.7rem;
}
.nombreHotel {
    font-size: 1.2rem;
    margin: auto;
}
.precioHotel {
    margin: auto;
    color: red;
}
p {
    margin: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.7rem;
}

footer {
    display: flex;
    background-size: cover;
    width: 100%;
    height: 2rem;
    margin-top: 3rem;
    
    
}
.button{
    background-color: red;
    width: 100% ;
    border: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;   
    transition-timing-function: ease-in-out;
}
.button:hover {
    cursor: pointer;
    transform: scale(1.1) rotate(0deg);

}

#reserv {
     display: flex;
     width : 30rem;
     background-color: blanchedalmond;
     justify-content: start;
     
     flex-grow: 1;
     flex-shrink: 1;
     flex-direction: column;
}

aside {
    display: inline-block;
    font-family: 'TheBoldFont';
    font-size: 1.5rem;
    align-self: center;
    
}

#res {
    margin: 1rem;
}

div.reservs {
    margin: 1rem;
    text-align: center;

    
}

div.reservs>p {
    border: 1px solid blue;
    background-color: teal;
    color: whitesmoke;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
}
.delete {
    background-color: red;
    color: whitesmoke;
    height: 1.5rem;
    width: 100%;
}

@keyframes move {
    0%{
        transform: translateY(10px);
        opacity:0;
    }
    45%{
        
        transform: rotate(90deg);
    }
    55%{
        opacity:1;
    }
    100%{
        transform: translateY(100px);
        opacity: 1;
    }
}

@media screen and (max-width: 768px) {

    body {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    

}